<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Config</title>
  </head>
  <body>
    <h1>Netatmo user login</h1>
    <form class="info" action="/" method="post">
      username: <input type="text" name="username" value="">
      password: <input type="password" name="password" value="">
      <input type="submit">
    </form>
  </body>
</html>
