<html>
  <head>
  </head>
  <body id="alert_body">
    <h1 id="alert_head">Current Alerts</h1>
    <% @alerts.each do |alert| %>
      <p id="alert_text">
        <span><%= alert['text_field'] %></span>
        <br>
        <%= alert['descr'] %>
      </p>
    <% end %>
  </body>
</html>
