<html>
  <head>
  </head>
  <body>
    <h1>Current Alerts</h1>
    <% @alerts.each do |alert| %>
      <p>
        <span><%= alert['text_field'] %></span>
        <br>
        <%= alert['descr'] %>
      </p>
    <% end %>
  </body>
</html>
