    <h1 id="alert_head">Current Alerts</h1>
    <% @alerts.each do |alert| %>
      <p>
        <span class="alert_name"><%= alert['text_field'] %></span>
        <br>
        <span class="alert_body_text"><%= alert['descr'] %></span>
      </p>
    <% end %>
