<html>
    <div class="cam">
    <iframe id="cam_frame_embed"
    type="text/html"
    frameborder="0"
    height="100%"
    width="100%"
    scrolling="no"
    src="http://localhost:9393/cam_img">
    </iframe>
  </div>
</html>
