<html>
    <div class="forcast">
    <iframe id="forecast_embed"
    type="text/html"
    frameborder="0"
    height="245"
    width="100%"
    src="http://forecast.io/embed/#lat=47.121133&lon=-88.569418&name=Houghton">
    </iframe>
  </div>
</html>
