<html>
  <head>
  <link rel="stylesheet" href="style.css" href="/animate.css/animate.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <h1 id="headding">Bartos Apartment Dashboard</h1>
    <div id="container1" >
    <div id="outdoor" class="outdoor_data" class="animate pulse"></div>
    <div id="indoor" class="indoor_data" class="animate pulse"></div>
  </div>
  <div id="container3">
  <h3>Current Conditions from NOAA</h3>
    <div id="forcast"></div>
  </div>
  <div id="container2" >
    <div id="alert" class="alerts" class="animate pulse"></div>
  </div>
  <div id="container4">
    <div id="map"></div>
  </div>
  <div id="container5">
    <div id="cam"></div>
  </div>
      <script>
      $(document).ready(function(){
        $('#outdoor').load('outdoor');
        setInterval(function(){
          $('#outdoor').load('outdoor');
        }, 300000);
});
      </script>
      <script>
      $(document).ready(function(){
        $('#indoor').load('indoor');
        setInterval(function(){
          $('#indoor').load('indoor');
        }, 300000);
});
      </script>
      <script>
      $(document).ready(function(){
        $('#alert').load('alert');
        setInterval(function(){
          $('#alert').load('alert');
        }, 300000);
});
      </script>
    </script>
    <script>
    $(document).ready(function(){
      $('#forcast').load('forcast');
      setInterval(function(){
        $('#forcast').load('forcast');
      }, 300000);
});
    </script>
    <script>
    $(document).ready(function(){
      $('#map').load('map');
      setInterval(function(){
        $('#map').load('map');
      }, 300000);
});
    </script>
    <script>
    $(document).ready(function(){
      $('#cam').load('cam');
      setInterval(function(){
        $('#cam').load('cam');
      }, 300000);
});
    </script>
  </body>
</html>
