<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="main">
      <script>
      $(document).ready(function(){
        $('#main').load('all');

        setInterval(function(){
          $('#main').load('all');
        }, 3000000);

});
      </script>
  </body>
</html>
