<html>
    <div class="map">
    <img id="map_embed" src="http://radblast.wunderground.com/cgi-bin/radar/WUNIDS_map?station=MQT&brand=wui&num=20&delay=50&type=N0R&frame=0&scale=1.000&noclutter=1&showstorms=0&mapx=400&mapy=240&centerx=400&centery=240&transx=0&transy=0&showlabels=1&severe=0&rainsnow=1&lightning=1&smooth=0&rand=23905220&lat=0&lon=0&label=you"
     alt="radar map"/>
  </div>
</html>
