@charset "UTF-8";
.outdoor_conditions {
	color: #0032FF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.section_heads {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #0900E5;
}
.out_data {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.in_data {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.curret_alerts {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FF0004;
}

.alert {
	font-gamily: Gotham, "Helvetica Neue", Helvetica, Arial,
}
