@charset "UTF-8";
@font-face {
	font-family: main_font;
	src: url(fonts/Champagne_imousines.ttf)
}
@font-face {
	font-family: test;
	src: url(fonts/Esqadero_FF_CY_4F-Regular.ttf)
}
body {
	background-color: #CCCCCC;
}
#container1 {
	float: left;
	width: 100%;
}

.outdoor_data {
	width: 50em;
	height: 50em;
	float: left;
	width: 50%;

}

.indoor_data {
	width: 50em;
	height: 50em;
	float: left;
	width: 50%;
}

#container2 {
	text-align: center;
	float: left;
	width: 100%;
}

#container3 {
	text-align: center;
	float: left;
	width: 100%
}
